@import url("./base/_fonts.scss");
@import url("./base/_icons.scss");
@import url("./base/_variables.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  ::selection {
    color: var(--red);
    background: var(--adminblue);
  }
  /* Chrome, Edge, Firefox and Safari */
  /* ===== Scrollbar CSS ===== */
  ::-webkit-scrollbar {
    width: 11px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--adminblue);
    border-radius: 9px;
    border: 2px solid var(--navorange);
  }
}
body {
  min-height: 100vh;
  background-color: var(--whiteS);
}
.navigation {
  position: fixed;
  inset: 20px;
  width: 70px;
  border-radius: 10px;
  box-sizing: initial;
  border-left: 5px solid var(--adminblue);
  background: var(--adminblue);
  transition: 0.5s;
  overflow: hidden;
  &.active {
    width: 200px;
  }
  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
    .list {
      position: relative;
      list-style: none;
      width: 100%;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      &.active {
        background: var(--whiteS);
        b:nth-child(1),
        b:nth-child(2) {
          display: block;
        }
        a {
          color: var(--black);
        }
      }
      b:nth-child(1) {
        position: absolute;
        top: -20px;
        height: 20px;
        width: 100%;
        background: var(--whiteS);
        display: none;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--adminblue);
          border-bottom-right-radius: 20px;
        }
      }
      b:nth-child(2) {
        position: absolute;
        bottom: -20px;
        height: 20px;
        width: 100%;
        background: var(--whiteS);
        display: none;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--adminblue);
          border-top-right-radius: 20px;
        }
      }
      a {
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        text-decoration: none;
        color: var(--whiteS);
        .icon {
          position: relative;
          display: block;
          min-width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          i {
            font-size: 1.5em;
          }
        }
        .title {
          position: relative;
          display: block;
          padding-left: 10px;
          height: 60px;
          line-height: 60px;
          white-space: normal;
        }
      }
    }
  }
}
.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: var(--adminblue);
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    background: orangered;
    i {
      &.close {
        display: block;
      }
      &.open {
        display: none;
      }
    }
  }
  i {
    position: absolute;
    color: var(--whiteS);
    font-size: 34px;
    display: none;
    &.open {
      display: block;
    }
  }
}

.product-table {
  margin-top: 100px;
  margin-left: 120px;
  transition: 0.5s;
  /* width: 100%; */
  &.active {
    margin-left: 240px;
    transition: 0.5s;
  }
  .products {
    border: 2px solid var(--adminblue);
    border-radius: 15px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    tbody {
      width: 100%;
      tr {
        width: 100%;
        th {
          padding: 0 10px;
          border-bottom: 3px solid var(--gray);
          height: 40px;
          &.hide {
            display: none;
          }
        }
        td {
          overflow: hidden;
          &.hide {
            display: none;
          }
        }
      }
    }
    td {
      padding: 0 5px;
      height: 40px;
      border-bottom: 1px solid var(--gray);
    }
    .product__status,
    td button {
      margin: 0;
      padding: 0;
      font-size: 26px;
      border: none;
      background-color: transparent;
      margin: 4px;
      cursor: default;
      i {
        padding: 0;
        color: var(--adminblue);
      }
      &--error {
        i {
          color: red;
        }
      }
    }
    td button {
      cursor: pointer;
    }
  }
  .head {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
    .hide-item {
      padding: 5px 10px;
      color: var(--adminblue);
      background-color: var(--whiteS);
      border-radius: 10px;
      width: 99px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    .add-item-page {
      padding: 5px 10px;
      color: var(--whiteS);
      background-color: var(--adminblue);
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

/*edit and add new item start*/
.new-item {
  display: none;
  position: fixed;
  justify-content: center;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.671);
  .background {
    display: flex;
    position: fixed;
    justify-content: center;
    align-self: center;
    width: 90%;
    height: 650px;
    top: 20px;
    border-radius: 15px;
    z-index: 2;
    background-color: var(--whiteS);
    .border {
      content: " ";
      background-color: var(--adminblue);
      height: 650px;
      width: 80px;
      border-radius: 15px;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: -57px;
      margin-top: 20px;
      .info {
        margin-top: -5px;
        &.active:before {
          content: "";
          width: 70px;
          height: 70px;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          background: var(--whiteS);
          position: absolute;
          left: 0px;
          margin-top: -15px;
        }
        .icon {
          font-size: 36px;
          color: var(--adminblue);
          margin-right: 14px;
          width: 45px;
          height: 45px;
          background-color: var(--whiteS);
          display: inline-flex;
          justify-content: space-evenly;
          align-items: center;
          border-radius: 50%;
          &:before {
            font-size: 25px;
            z-index: 4;
          }
        }
        label {
          font-size: 22px;
          top: -18px;
          position: relative;
          color: var(--adminblue);
        }
        p {
          position: relative;
          left: 70px;
          top: -20px;
        }
        input {
          margin-left: 60px;
          height: 32px;
          width: 90%;
          position: relative;
          top: -22px;
          border-radius: 15px;
          border: none;
          padding: 0 10px;
          background: var(--whiteS);
          &.error {
            background: var(--mistake);
          }
        }
        .list-selector {
          margin-left: 60px;
          position: relative;
          top: -24px;
          border-radius: 15px;
          padding: 0 10px;
          border: none;
          color: #888;
          &.error {
            background: var(--mistake);
          }
          option {
            color: black;
          }
        }
      }
      button {
        width: 120px;
        height: 45px;
        bottom: 0;
        right: 0;
        border: 1px solid var(--whiteS);
        border-radius: 15px;
        padding: 5px 10px;
        font-size: 16px;
        color: var(--whiteS);
        background-color: var(--adminblue);
      }
    }

    button {
      position: absolute;
      cursor: pointer;
    }

    & > button {
      width: 30px;
      height: 30px;
      top: 10px;
      right: 20px;
      border: none;
      border-radius: 50%;
      font-size: 36px;
      background: var(--whiteS);
      color: var(--adminblue);
    }
  }
}

/*delete item*/
.deletebox {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.671);
  padding-top: 150px;
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: var(--adminblue);
    background-color: #ffffff4a;
    border: 3px solid var(--whiteS);
    border-radius: 50%;
    width: 33px;
    padding: 1px 7px;
    &:hover {
      color: var(--red);
      cursor: pointer;
    }
  }
  .deletebox-content {
    background-color: #fefefe;
    margin: 15% auto 15% auto;
    border: 1px solid var(--shadow);
    width: 50%;
    font-size: 16px;
    border-radius: 15px;
    .container {
      padding: 16px;
      text-align: center;
      .buttonbox {
        display: flex;
        .cancelbtn,
        .deletebtn {
          text-align: center;
          width: 50%;
          height: 45px;
          color: var(--whiteS);
          border: 1px solid var(--whiteS);
          border-radius: 15px;
          font-size: 16px;
        }
        .cancelbtn {
          background-color: var(--adminblue);
          color: var(--whiteS);
        }
        .deletebtn {
          background-color: var(--red);
        }
      }
    }
  }
}
