@import url(../../css/base/_fonts.scss);
@import url(../../css/base/_icons.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  min-height: 100vh;
  background-color: #fff;
}
.navigation {
  position: fixed;
  inset: 20px;
  width: 70px;
  border-radius: 10px;
  box-sizing: initial;
  border-left: 5px solid #4d5bf9;
  background: #4d5bf9;
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 200px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navigation ul li.active {
  background: #fff;
}
.navigation ul li b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}
.navigation ul li b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5bf9;
  border-bottom-right-radius: 20px;
}
.navigation ul li b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}
.navigation ul li b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5bf9;
  border-top-right-radius: 20px;
}
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
  display: block;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation ul li.active a {
  color: #333;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon i {
  font-size: 1.5em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}
.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #4d5bf9;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle.active {
  background: orangered;
}
.toggle i {
  position: absolute;
  color: #fff;
  font-size: 34px;
  display: none;
}
.toggle i.open,
.toggle.active i.close {
  display: block;
}
.toggle i.close,
.toggle.active i.open {
  display: none;
}
.product-table {
  margin-top: 100px;
  margin-left: 120px;
  transition: 0.5s;
  /* width: 100%; */
}
.product-table.active {
  margin-left: 240px;
  transition: 0.5s;
}
.product-table .products {
  border: 2px solid #4d5bf9;
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  width: auto;
}
.product-table .products tbody {
  width: 100%;
}
.product-table .products tbody tr {
  width: 100%;
}
.product-table .products tbody tr th.hide {
  display: none;
}
.product-table .products tbody tr td {
  overflow: hidden;
}
.product-table .products tbody tr td.hide {
  display: none;
}
.product-table .products th {
  padding: 0 10px;
  border-bottom: 3px solid #ddd;
  height: 40px;
}
.product-table .products td {
  padding: 0 5px;
  height: 40px;
  border-bottom: 1px solid #ddd;
}
.product-table .products td button {
  margin: 0;
  padding: 0;
  font-size: 26px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 4px;
}
.product-table .products td button i {
  padding: 0;
  color: blue;
}
.product-table .head {
  display: flex;
  justify-content: space-between;
  margin: 5px 15px;
}

.product-table .head .hide-item {
  padding: 5px 10px;
  color: #4d5bf9;
  background-color: #fff;
  border-radius: 10px;
  width: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.product-table .head .add-item-page {
  padding: 5px 10px;
  color: #fff;
  background-color: #4d5bf9;
  border-radius: 10px;
  cursor: pointer;
}
/*edit and add new item start*/
.new-item,
.edit-item {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.671);
  inset: 0px;
  display: none;
}
.new-item .background,
.edit-item .background {
  position: fixed;
  display: flex;
  width: 90%;
  height: 650px;
  background-color: #fff;
  z-index: 2;
  top: 20px;
  justify-content: center;
  align-self: center;
  bottom: 44px;
  border-radius: 15px;
}
.new-item .border,
.edit-item .border {
  content: " ";
  background-color: #4d5bf9;
  height: 650px;
  width: 80px;
  border-radius: 15px;
}
.new-item .form,
.edit-item .form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: -57px;
  margin-top: 20px;
}
.new-item .form .info,
.edit-item .form .info {
  margin-top: -5px;
}
.new-item .form .info .icon,
.edit-item .form .info .icon {
  font-size: 36px;
  color: #4d5bf9;
  margin-right: 14px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50%;
}
.new-item .form .info .icon:before,
.edit-item .form .info .icon:before {
  font-size: 25px;
  z-index: 4;
}
.new-item .form .info label,
.edit-item .form .info label {
  font-size: 22px;
  top: -18px;
  position: relative;
  color: #4d5bf9;
}
.new-item .form .info p,
.edit-item .form .info p {
  position: relative;
  left: 70px;
  top: -20px;
}
.new-item .form .info input,
.edit-item .form .info input {
  margin-left: 60px;
  height: 32px;
  width: 90%;
  position: relative;
  top: -22px;
  border-radius: 15px;
  border: none;
  padding: 0 10px;
  background: #fff;
}
.new-item .form .info.active:before,
.edit-item .form .info.active:before {
  content: "";
  width: 70px;
  height: 70px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0px;
  margin-top: -15px;
}
.new-item .close-addnew,
.edit-item .close-edit {
  height: 30px;
  width: 30px;
  background: #fff;
  color: #4d5bf9;
  border: none;
  border-radius: 50%;
  font-size: 25px;
  right: 50px;
  position: relative;
  font-size: 36px;
  left: 80px;
}
.new-item .add-item,
.edit-item .save-item {
  height: 45px;
  color: #fff;
  background-color: #4d5bf9;
  border: 1px solid #fff;
  width: 120px;
  top: 615px;
  border-radius: 15px;
  position: relative;
  font-size: 16px;
  padding: 5px 10px;
}

/*delete item*/
.deletebox {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.671);
  padding-top: 150px;
}
.deletebox .deletebox-content {
  background-color: #fefefe;
  margin: 15% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
  font-size: 16px;
  border-radius: 15px;
}
.deletebox .close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #4d5bf9;
  background-color: #ffffff4a;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 33px;
  padding: 1px 7px;
}
.deletebox .close:hover {
  color: #f44336;
  cursor: pointer;
}
.container {
  padding: 16px;
  text-align: center;
}
.container .buttonbox {
  display: flex;
}
.container .cancelbtn,
.deletebtn {
  text-align: center;
  width: 50%;
  height: 45px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  font-size: 16px;
}
.container .cancelbtn {
  background-color: #4d5bf9;
  color: #fff;
}
.container .deletebtn {
  background-color: #f44336;
}
