    

    @font-face {
    font-family: 'Oswald ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald ExtraLight'), url('../fonts/Oswald-ExtraLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Oswald Light';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald Light'), url('../fonts/Oswald-Light.woff') format('woff');
    }

    

    @font-face {
    font-family: 'Oswald Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald Medium'), url('../fonts/Oswald-Medium.woff') format('woff');
    }

    

    @font-face {
    font-family: 'Oswald DemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald DemiBold'), url('../fonts/Oswald-DemiBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Oswald Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald Bold'), url('../fonts/Oswald-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Oswald Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald Heavy'), url('../fonts/Oswald-Heavy.woff') format('woff');
    }
    
    

    @font-face {
    font-family: 'Oswald Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald Regular'), url('../fonts/Oswald-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Oswald Stencil';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald Stencilold'), url('../fonts/Oswald-Stencil.woff') format('woff');
    }