@import url("./base/_reset.scss");
@import url("./base/_fonts.scss");
@import url("./base/_variables.scss");
@import url("./base/_imagebox.scss");
@import url("./base/_icons.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  /* Chrome, Edge, Firefox and Safari */
  /* ===== Scrollbar CSS ===== */
  ::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-track {
    background: var(--black);
  }

  ::-webkit-scrollbar-thumb {
    background: #0ba9ca;
    border-radius: 9px;
    border: 2px solid #ffffff;
  }
  ::-webkit-scrollbar-track:hover {
    background: var(--black);
  }
}
body {
  background-color: var(--black);
}

/**
 * nav
 */

.nav-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  background-color: var(--black);
  margin: 0 50px;
}
.nav-container .logo {
  color: white;
}
.nav-container .navbar {
  position: relative;
  height: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0 20px;
}
.nav-container .navbar ul {
  display: flex;
}
.nav-container .navbar ul > li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.nav-container .navbar ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.nav-container .navbar ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--black);
}
.nav-container .navbar ul li.active a .icon {
  transform: translateY(-35px);
}
.nav-container .navbar ul li a .text {
  position: absolute;
  color: var(--black);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.nav-container .navbar ul li.active.dropdown:before {
  content: "";
  border-color: var(--white) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9;
  left: 0;
  margin: 0 auto;
}
.nav-container .navbar ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.nav-container .navbar ul li.active ul {
  display: flex;
}
.nav-container .navbar ul li ul {
  display: none;
  flex-direction: column;
  margin: 0;
  background-color: #48c6f8;
  padding: 1.5rem 0.5rem;
  border-radius: 1rem;
  min-width: 180px;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
    0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
  margin: 0;
  padding: 20px 0;
}
.nav-container .navbar ul li ul li {
  width: 100%;
  height: auto;
  margin-bottom: 0.3rem;
  border-radius: 5px;
  padding: 5px 0;
}
.nav-container .navbar ul li ul li:hover {
  box-shadow: inset 0px 0px 11px 4px #0ba9ca, 0px -6px 22px -3px #ffffff;
  background-color: var(--white);
  transition: 0.3s;
}
.nav-container .navbar ul li ul li a {
  color: var(--black);
  text-decoration: none;
  font-size: 12px;
  padding: 7px;
  font-weight: 400;
}
/* .nav-container .navbar .indicator{
    top: -50%;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #48c6f8;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
} */
.nav-container .navbar .indicator {
  top: -50%;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #48c6f8;
  border-radius: 50%;
  transition: 0.5s;
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
    0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
}
@keyframes blink {
  100% {
    box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
      0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}
.nav-container .navbar ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.nav-container .navbar ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.nav-container .navbar ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.nav-container .navbar ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.nav-container .navbar ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
.nav-container .navbar ul li:nth-child(6).active ~ .indicator {
  transform: translateX(calc(70px * 5));
}
.nav-container .navbar ul li:nth-child(7).active ~ .indicator {
  transform: translateX(calc(70px * 6));
}
.nav-container .navbar ul li:nth-child(8).active ~ .indicator {
  transform: translateX(calc(70px * 7));
}
.nav-container .navbar ul li:nth-child(9).active ~ .indicator {
  transform: translateX(calc(70px * 8));
}
.nav-container .navbar ul li:nth-child(10).active ~ .indicator {
  transform: translateX(calc(70px * 9));
}
.project-main {
  position: relative;
  display: flex;
  padding-left: 100px;
  flex-direction: row;
  justify-content: flex-end;
}
/* sidebar filter start */

.btn-filters {
  position: absolute;
  top: 50px;
  left: 170px;
  z-index: 1000;
  width: 50px;
  background: #0ba9ca;
  height: 50px;
  font-size: 24px;
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
    0 0 70px #0ba9ca;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  left: -170px;
  top: 0;
  bottom: 0;
  width: 180px;
  /* height: 100%; */
  background: #fff;
  z-index: 999;
  transition: right 0.5s;
  margin-top: 120px;
  background-color: transparent;
  color: white;
  border: none;
  transition: 500ms ease;
}

.sidebar-container.active {
  left: 0;
}
.sidebar-container.active button {
  box-shadow: none;
  transform: translatex(-30px);
  transition: 0.3s ease-in;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.sidebar-header h3 {
  margin: 0;
  font-size: 18px;
}

.sidebar-content {
  overflow-y: auto;
  height: 500px;
}
.sidebar-footer {
  padding: 18px;
  text-align: right;
}

.filter-section {
  width: 50%;
  margin-left: 40px;
}

.filter-section h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
}
.filter-option {
  margin-bottom: 15px;
}
.filter-option label {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
  transition: 0.3s;
}
.filter-option label:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffffff,
    0 0 30px #ffffff, 0 0 10px #ffffff;
}
.filter-option .color-red:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff0000,
    0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 75px #ff0000;
}
.filter-option .color-blue:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #6393fb,
    0 0 30px #6393fb, 0 0 40px #6393fb, 0 0 55px #6393fb, 0 0 45px #6393fb;
}
.filter-option .color-yellow:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f4f740,
    0 0 30px #f4f740, 0 0 40px #f4f740, 0 0 55px #49ff18;
}
.apply-filters-btn {
  display: flex;
  margin-left: 93px;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: #0ba9ca;
  border: 1px solid #fff;
  color: #fff;
}
/* product-main start */
.product-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-right: 50px;
  margin-top: 5px;
}
.product-main .product-card {
  display: grid;
  &.hidden {
    display: none;
  }
}

.product-main .product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-main .product-card .product-card-title {
  text-decoration: none;
}
.product-main .product-card .product-card-title p {
  background: var(--white);
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--black);
  font-weight: 400;
  font-size: 10px;
}
.product-main .product-card .product-card-price {
  background: var(--white);
  display: flex;
  text-align: center;
  color: var(--black);
  font-weight: 400;
  padding: 20px 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.product-main .product-card .product-card-overlay {
  background-color: #f6efef87;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  transform: rotateY(90deg);
  transition: 0.5s;
  justify-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-main .product-card:hover .product-card-overlay {
  transform: rotateY(0);
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.7);
}
.product-main .product-card .product-card-overlay h6 {
  color: black;
  font-size: 20px;
}
.product-main .product-card .product-card-overlay .product-description {
  font-weight: 400;
  font-size: 12px;
  margin-top: 20px;
  padding: 10px;
  font-family: "Lato", sans-serif;
}
.product-main .product-card .product-card-overlay span {
  color: var(--black);
  font-size: 24px;
}
/* product-main finished */