:root {
  --black: #222327;
  --white: rgba(255, 255, 255, 0.832);
  --whiteS: #ffffff;
  --blue1: #b4e8fdce;
  --blue2: #cceffdcb;
  --blue3: #48c6f8;
  --blue4: #0ba9ca;
  --blue5: #6393fb;
  --navorange: #ecb96b;
  --body: #48c6f847;
  --gray: #ccc;
  --green: #1ee91e;
  --shadow: #696969;
  --adminblue: #4d5bf9;
  --mistake: #f4433638;
  --red: #f44336;
}
